<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
  <insert id="create" parameterType="com.example.demo.dto.user.request.UserRegisterDto">
    INSERT INTO
        USER(NAME,MAIL)
    VALUES(
        #{dto.name},
        #{dto.mail}
    )
  </insert>

  <select id="read" resultMap="profileMap">
    select
        USER_ID,NAME,MAIL
    from
        USER
    where
        USER_ID = #{user_id}
  </select>
  <resultMap id="profileMap" type="com.example.demo.dto.user.response.UserProfileDto">
    <result property="userId" column="USER_ID"></result>
    <result property="name" column="NAME"></result>
    <result property="mail" column="MAIL"></result>
  </resultMap>
</mapper>
